.input {
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Quicksand', Arial, sans-serif;
}
