.mainStyle {
  height: 100%;
  justify-content: space-between;
}

.navStyle {
  height: 90px;
  color: var(--black);

  display: flex;
  justify-content: center;
  align-items: center;
}

.contentStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 600px;
  background-color: var(--background-beige);
}
