.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.socialLinksContainerStyling {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.textMarginBottomStyling {
  li {
    margin-bottom: 1rem;
  }
}
