.containerStyling {
  height: 360px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  color: var(--white);
  background-color: var(--background-green);
}

.footerSectionStyling {
  display: flex;
}

.footerTextStyling {
  font-size: 2.2rem;
  font-weight: 900;
}
