.containerStyling {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-grow: 1;
  padding-top: 40px;

  color: var(--white);
  background-color: var(--background-green);
}

.footerSectionStyling {
  display: flex;
}

.footerTextStyling {
  font-size: 2.2rem;
  font-weight: 900;
}
