.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  height: 110vh;
}

.joinRoom {
  justify-self: flex-end;
  display: flex;
}

.header {
  margin-bottom: 20px;
}

.button {
  margin-top: 20px;
}
