.button {
  width: fit-content;
  border-radius: 5px;
  border-width: 0;
  border-style: solid;
  font-weight: 700;
  font-family: 'Quicksand', Arial, sans-serif;
}

.button:hover {
  filter: brightness(1.15);
  cursor: pointer;
}

.green {
  background-color: var(--primary-green);
  color: var(--white);
}

.white {
  background-color: var(--white);
  color: var(--black);
}

.black {
  background-color: var(--black);
  color: var(--white);
}

.gray {
  background-color: #b6b5b5;
  color: var(--white);
}

.red {
  background-color: var(--primary-red);
  color: var(--white);
}

.small {
  padding: 7px 14px;
  font-size: 1.2rem;
}

.medium {
  padding: 10px 20px;
  font-size: 1.4rem;
}

.large {
  padding: 14px 28px;
  font-size: 1.6rem;
}
