.container {
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
  width: 100%;
  height: 110vh;
}

.nameForm {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.input {
  margin-right: 5px;
}
