.gifContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.gif {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  object-fit: contain;
}
