.participantContainer {
  grid-row: 2 / 14;
  grid-column: 1 / 4;
  width: 240px;

  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-gray);
  border-radius: 10px;
  color: var(--white);
  padding: 15px 15px;
}

.nameContainer {
  padding: 10px;
  display: flex;
  align-items: center;
}

.highlightUser {
  border-radius: 10px;
  background-color: var(--secondary-gray);
}

.statusDot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin-right: 10px;
}

.name {
  font-size: 1.6rem;
  font-weight: 600;
}

.navigationButtonsContainer {
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  gap: 5px;
}

.participants {
  font-size: 2rem;
  margin-bottom: 10px;
}
