.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.subtitle {
  margin-bottom: 30px;
  font-size: 1.8rem;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

.input {
  width: 100%;
}

.gifList {
  margin-top: 30px;
}
