.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 300px;
}

.input {
  width: 100%;
}

.gifList {
  margin-top: 30px;
}
