:root {
  --primary-green: #38b271;
  --primary-yellow: #f6e05e;
  --primary-transparent-green: rgba(56, 178, 113, 0.3);
  --background-green: #0f2419;
  --white: #ffffff;
  --black: #1e1e1e;
  --primary-gray: rgb(32, 37, 33);
  --primary-gray-opacity: rgb(32, 37, 33, 0.9);
  --secondary-gray: #838b85;
  --primary-red: #ad4438;
  --background-beige: #e9d5be;
  --background-noise: url(public/assets/noise.png);
}
