:root {
  --primary-green: #38b271;
  --background-green: #0f2419;
  --white: #ffffff;
  --black: #1e1e1e;
  --primary-gray: #737b75;
  --secondary-gray: #838b85;
  --background-beige: #e9d5be;
  --background-noise: url(public/assets/noise.png);
}
